* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primaryColor: #181818;
  --textColor: #f9f9f9;
  --colorBox: #ebe9ea;
  --buttonColor: #ff4500;
}

html,
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  background-color: #f9f9f9;
}

p {
  width: 414px;
}

.desconto {
  display: flex;
  justify-content: center;
  background-color: var(--primaryColor);
  color: var(--textColor);

  width: 100vw;
}

.desconto p {
  display: flex;
  justify-content: center;
  background-color: var(--primaryColor);
  color: var(--textColor);

  padding: 15px 58px;

  font-weight: 500;
  font-size: 16px;
  line-height: 196.19%;
}

.jordan {
  display: flex;
  justify-content: center;
  padding: 7px 127px;

  font-weight: 600;
  font-size: 24px;
  line-height: 196.19%;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--textColor);

  background-image: url(/assets/img/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino2.png);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 122px 20px;

  transition-duration: 1s;
}

.section1 h1 {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.section1 p {
  font-weight: 600;
  font-size: 18px;
  line-height: 196.19%;
  text-align: left;
}

#destaques {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 50px 20px 60px 20px;
}

h2.destaque-titulo {
  font-weight: 600;
  font-size: 28px;
  line-height: 196.19%;
  padding-bottom: 5px;
}

p.destaque-texto {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;

  width: 374px;
}

#cards .row-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

#cards .row-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.card {
  background-color: var(--colorBox);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card img {
  margin: 70px 25px 10px 25px;
}

.button {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--buttonColor);
  border: none;
  border-radius: 50px;

  color: var(--textColor);

  width: 150px;
  padding-block: 10px;

  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
}

.button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.button:focus {
  outline: none;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--primaryColor);
  color: var(--textColor);

  padding: 15px 58px;

  font-weight: 500;
  font-size: 18px;
  line-height: 196.19%;

  width: 100vw;
}

@media (min-width: 760px) {
  * {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .section1 {
    align-items: flex-start;
    padding-inline: 100px;
    background-image: url(/assets/img/Air-Jordan-1-Retro-High-OG-Wmns-TWIST-Feminino.png);
  }

  .grid-contatiner {
    width: 100%;
  }

  h2.destaque-titulo {
    font-weight: 600;
    font-size: 28px;
    line-height: 196.19%;
    padding-bottom: 5px;
    width: 100vw;
  }

  p.destaque-texto {
    font-weight: 500;
    font-size: 18px;
    line-height: 196.19%;
    margin: 500px;
  }

  #cards .row-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #cards .row-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .card {
    width: 300px;
    height: 300px;
  }
}
